<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="app-footer" th:fragment="footer">
    <div class="footer-title">K-MediGuide</div>

    <div class="footer-links">
        <a href="#" th:text="#{footer.about}">About</a>
        <a href="#" th:text="#{footer.photos}">Photos</a>
        <a href="#" th:text="#{footer.help}">Help</a>
    </div>

    <div class="copyright" th:text="#{footer.copyright}">
        Copyright © 2025 경기대학교 AI컴퓨터공학부 기초캡스톤 약똑팀
        All Rights Reserved
    </div>
</footer>
</body>
</html>
