<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="app-footer" th:fragment="footer">
    <div class="footer-title">K-MediGuide</div>

<!--    <div class="footer-links">-->
<!--        <a href="#" th:text="#{footer.about}">About</a>-->
<!--        <a href="#" th:text="#{footer.photos}">Photos</a>-->
<!--        <a href="#" th:text="#{footer.help}">Help</a>-->
<!--    </div>-->

    <div class="copyright" th:utext="#{footer.copyright}">
    </div>
</footer>
</body>
</html>
