<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>챗봇</title>
  <link rel="stylesheet" th:href="@{/css/chatbot.css}">
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<main class="chat-container">
  <div class="chat-messages" id="chatMessages">
    <div class="chat-message bot">
      <div class="bubble">안녕하세요! 무엇을 도와드릴까요?</div>
    </div>
  </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/js/chatbot.js}"></script>
</body>
</html>
