<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>K-MediGuide</title>
  <style>

  </style>
  <link th:href="@{/css/drugSpecify.css}" rel="stylesheet">
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<!-- 약 정보 카드 -->
<div class="medicine-image-container">
  <div class="medicine-image">
    <img th:src="@{/image/drugSample.webp}" alt="약 이미지">
  </div>
</div>
<div class="medicine-card">

  <div class="medicine-info">
    <div class="medicine-name">타이레놀</div>
    <div class="medicine-desc">
      Regular Strength TYLENOL® Tablets
      (Acetaminophen 325 mg)
      타블렛 (원형) 형태의 제품. 국내에는 정식 출시되어 있지 않다. 특허기간 종료후 복제품이 많다 보니 브랜드성을 주기 위해 격자무늬의 독특한 제제 형태로 굳혀져 있어서 척 봐도 알아보기 쉬운 모양을 하고 있다.[4]
      TYLENOL® Regular Strength Liquid Gels
      (Acetaminophen 325 mg)
      Regular Strength 와 동등하나 빠른 효과를 위해 겔 타입 으로 제조된 제제.
      Extra Strength TYLENOL® Caplets
      (Acetaminophen 500 mg)
      국내 유통되는 일반 타이레놀과 동등한 제품이나, 제제 위에 붉은색 타이레놀 로고가 인쇄되어 있다.
      TYLENOL® Rapid Release Gels
      (Acetaminophen 500mg)
      Extra Strength 와 동등하나 빠른 효과를 위해 겔 타입 으로 제조된 제제.
      TYLENOL® Extra Strength Dissolve Packs
      (500mg Acetaminophen)
      물에 타먹는 가루제제로, 베리향이다.
      Children’s TYLENOL® Dissolve Powder Packs
      (160mg Acetaminophen)
      어린이용 물에 타먹는 가루제제로, 베리향이다.
      TYLENOL® Extra Strength Coated Tablets
      (500mg Acetaminophen)
      코팅된 제제. 해외에서는 차량등에 상비용으로 구비해두는 경우도 있어서 소량 포장이 사탕통 같은 플라스틱 용기에 넣어 판매되는 버전이 있는데 대부분 이 코팅 제제이다.
      TYLENOL® PM Extra Strength Liquid
      (Acetaminophen 1,000mg, Diphenhydramine HCI 50 mg)
      액상타입의 베리향 제제로, 수면유도제인 디펜히드라민이 포함되어있다.
      TYLENOL® Cold + Flu Severe
      (Day: Acetaminophen 325mg, Dextromethorphan HBr 10 mg, Guaifenesin 200 mg, Phenylephrine HCI 5 mg / Night: Acetaminophen 325 mg, Chlorpheniramine maleate 2 mg, Dextromethorphan HBr 10 mg, Phenylephrine HCI 5mg)
      데이 제제와 나이트 제제로 구성된 종합감기약.
    </div>
  </div>
</div>

<!-- 푸터 -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>