<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>K-MediGuide</title>
  <style>

  </style>
  <link th:href="@{/css/drugSpecify.css}" rel="stylesheet">
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<!-- 약 정보 카드 -->
<div class="medicine-image-container">
  <div class="medicine-image">
    <img th:src="@{/image/drugSample.webp}" alt="약 이미지">
  </div>
</div>
<div class="medicine-card">

  <div class="medicine-info">
    <div class="medicine-name"></div>
    <div class="medicine-desc">

    </div>
  </div>
</div>

<!-- 푸터 -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>