<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>K-MediGuide - Travel Korea with us!</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/header :: header"></div>

  <main class="page-content">
    <div class="chatbot-wrapper">
      <button class="action-button chatbot-button" onclick="location.href='/chatbot'">
        <img th:src="@{/image/mascot.png}" alt="Mascot">
        <span class="chat-text" th:utext="#{home.chatbot}">May I help you?</span>
      </button>
    </div>
    <div class="button-slider-container">
      <div class="button-grid">
        <form action="/pharmacies" method="get" class="btnForm">
          <button class="feature-button">
            <img th:src="@{/image/icon_map.png}" alt="Map"><br>
            <span th:text="#{home.pharmacy}"> Nearby Pharmacies </span>
          </button>
        </form>

        <form action="/translateCard" method="get" class="btnForm">
          <button class="feature-button">
            <img th:src="@{/image/icon_translate.png}" alt="Translate"><br>
            <span th:text="#{home.translation}"/>
          </button>
        </form>

        <form action="/cardnews" method="get" class="btnForm">
          <button class="feature-button">
            <img th:src="@{/image/icon_news.png}" alt="News"><br>
            <span th:text="#{home.cardnews}">Card News</span>
          </button>
        </form>
      </div>
    </div>

    <div class="howto-wrapper">
      <button class="action-button howto-button" onclick="location.href='/howtouse'">
        <span th:text="#{home.howtouse}">Card News</span>
      </button>
    </div>

    
    <div class="carousel">
      <button class="prev-button">◀</button>
      <div class="slides">
        <img th:src="@{/image/ad01.png}" class="slide active">
        <img th:src="@{/image/ad02.png}" class="slide">
        <img th:src="@{/image/ad03.png}" class="slide">
      </div>
      <button class="next-button">▶</button>
    </div>
    <div class="dots-container">
      <span class="dot active"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

  </main>

  <div th:replace="fragments/footer :: footer"></div>
</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>
