<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>K-MediGuide</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/header :: header"></div>

  <main class="page-content">
    <div class="search-container">
<!--      <input type="text" th:placeholder="#{home.search}">-->
<!--      <button class="search-button"><a th:href="@{/drugSearch}">🔍</a></button>-->
    </div>

    <div class="carousel">
      <button class="prev-button">◀</button>
      <div class="slides">
        <img th:src="@{/image/ad01.png}" class="slide active">
        <img th:src="@{/image/ad02.png}" class="slide">
        <img th:src="@{/image/ad03.png}" class="slide">
      </div>
      <button class="next-button">▶</button>
    </div>

    <div class="dots-container">
      <span class="dot active"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <div class="buttons-container">
      <button class="feature-button">💊<span th:text="#{home.medicineSearch}"> Medicine Search </span> →</button>

      <form action="/translateCard" method="get" class = "btnForm">
      <button class="feature-button">🔄<span th:text="#{home.translation}">Translation </span>  →</button>
      </form>

      <form action="/pharmacies" method="get" class = "btnForm">
        <button class="feature-button">📍<span th:text="#{home.pharmacy}"> Nearby Pharmacies </span> →</button>
      </form>

      <button class="feature-button">📰<span th:text="#{home.cardnews}">Card News</span> →</button>
    </div>
  </main>

  <div th:replace="fragments/footer :: footer"></div>
</div>

<a th:href="@{/chatbot}" class="floating-chat">💬</a>

<script th:src="@{/js/script.js}"></script>
</body>
</html>
